.dart_tool/
.idea/
.vscode/
.packages
.pub-cache/
.pub/
build/
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
node_modules/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.dSYM
*.log
*.p12
*.mobileprovision
*.jks
*.keystore
.env
google-services.json
GoogleService-Info.plist
